@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.slideshow-container {
    position: relative;
    max-width:fit-content;
    margin: auto;
}

.slide {
    display: none;

}

img {
    width: 100%;
    height: auto;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot-container {
    position: absolute;
    bottom: 70px;  /* Adjust this value to position the dots higher or lower inside the image */
    width: 100%;
    text-align: center;
    z-index: 1;
}


.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


.sale-banner {
    background-color: #ffffff;
    color: #202020;
    padding: 10px 0;
    overflow: hidden;  /* Hide the overflowing text */
    white-space: nowrap;  /* Prevent text wrapping */
    position: relative;
    display: flex;  /* Use Flexbox to center the text vertically */
    align-items: center;  /* Vertically center the text */
    height: 35px;  /* Define the height of the sale banner */
}

.sale-banner p {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
    animation: scroll-left 9s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(350%);  /* Start from the right edge */
    }
    100% {
        transform: translateX(-100%);  /* Move off the left edge */
    }
}
/* Hero Section */
.hero {
    background-image: url('assets/puma suede.png'); /* Replace with your image URL */
    background-size:contain;
    background-position: center;
    height: 600px;
    position: relative;
}


.main-shop-brand{
            
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.shop-by-brand {
    text-align: center;
    width: 90%;
   
}

.shop-by-brand h2 {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 32px;
    margin: 20px 0;
    color: #111111;
}

.brand-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.brand-item {
    width: 100%;
    max-width: 150px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.brand-item img {
    max-width: 100%;
    height: auto;
}

.brand-item:hover {
    transform: scale(1.05);
}

.shop-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #171717;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.shop-button:hover {
    background-color: #333;
    
}

.para{
    text-align: center;
}
.para h1{

        font-size: 45px;
        color: #013a34;
        font-family: 'MyHeading';
    }
.para p{ 
     font-size: 23px;
    font-family: "Kalam", cursive;
  font-weight: 500;
  font-weight: bolder;
  font-style: normal;}
    



.container {
    text-align: center;
    max-width: 1000px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 15px;
}

.card {
    color: white;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.best-selling {
   background-image:url(assets/best-selling.jpg);
}

.new-arrival {
    background-image: url(assets/new-arrivals.jpg);/* Dark red */
}

.classics {
   background-image: url(assets/classics.jpg);
}

.collabs {
    background-image: url(assets/collabs.jpg);
}

.card h2 {
    font-family:'MyHeading' ;
   font-size: 22px;
    font-weight: bold;

}



@font-face {
    font-family:"MyHeading";
    src: url(fonts/acorn.woff) format('woff');
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/overcame-bold.woff') format('woff'),
         url('fonts/overcame-outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}