/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Top Bar Styling */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #ffffff;
}

.top-bar ul {
    display: flex;
    list-style: none;
}

.top-bar ul li {
    margin: 0 15px;
}

.top-bar ul li a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.right-nav ul li a:hover {
    color: #02205f;
    font-weight: bold;

}
.left-nav ul li a:hover {
    color: #02205f;
    font-weight: bold;
}
/* Main Navigation Styling */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    color: #7d5a50;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    margin-left: 30px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #7d5a50;
    font-size: 16px;
}

.main-nav ul li a:hover {
    color: #3a3a3a;
}

/* Hero Section Styling */
.hero {
    background-image: url('assets/3.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 48px;
    color: #887e59fc;
    margin-bottom: 10px;
}

.hero-content h4 {
    font-size: 24px;
    color: #2516162e;
    margin-bottom: 20px;
}

.shop-btn {
    background-color: #7d5a50;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.shop-btn:hover {
    background-color: #3a3a3a;
}
